<template>
  <div>
    <nav class="white fixed">
      <div class="nav-wrapper">
        <router-link to="/" class="brand-logo">
          <i class="icon ion-arrow-shrink"></i>
          <span>Afrikal</span>
        </router-link>
        <ul class="right">
          <li><router-link to="/" class="waves-effect">How it works</router-link></li>
          <li><router-link to="/" class="waves-effect">Explore</router-link></li>
          <li><router-link to="/" class="waves-effect">Login</router-link></li>
          <li><router-link to="/" class="btn white-text waves-effect waves-light brown">Join</router-link></li>
        </ul>
      </div>
    </nav>
    <div class="banner center-align">
      <h1 style="color: #3D2C2E;">Hire freelancers accross Africa and abroad. <small>Access top talents.</small> </h1>
      <p class="flow-text">Millions of small businesses use freelance jobs to turn their ideas into reality</p>
      <button class="btn-large center center-align center-block green waves-effect waves-light">Get Started</button>
      <span class="credits">Georgie Cobbs, <a href="https://unsplash.com/photos/bKjHgo_Lbpo" target="_blank">Unsplash.com</a></span>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.banner {
  // background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url('/static/img/banner.jpeg') fixed;
  background: url('/static/img/banner.jpeg') fixed;
  background-size: cover;
  min-height: 100vh;
  padding: 20vh 2em 10vh;
}
nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
</style>
