<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style lang="scss">
$brown: rgb(62, 39, 35);
$background: #f6f6f6;

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
}

nav.white a.brand-logo, nav.white li a {
  color: $brown;
}

nav li a {
  font-weight: 400;
}

nav .nav-wrapper {
  width: 95%;
  margin: auto;
}

.btn-large {
  font-size: 1.5em;
}
</style>
